<h2>Posts</h2>
<div class="mt-3">
  <p-table
    [value]="posts"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 15]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 85%">Name</th>
        <th style="width: 15%" class="text-center">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-post>
      <tr>
        <td>{{ post.title }}</td>
        <td class="text-center">
          <a
            [routerLink]="['/posts', post.id, 'edit']"
            class="btn btn-primary me-2"
          >
            <i class="pi pi-pencil"></i
          ></a>
          <!-- Rest of the code -->

          <a class="btn btn-primary" [routerLink]="['/posts', post.id]">
            <i class="pi pi-eye"></i>
          </a>
        </td>
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="paginatorleft">
    <p-button
      type="button"
      icon="pi pi-plus"
      styleClass="p-button-text"
    ></p-button>
  </ng-template> -->
    <!-- <ng-template pTemplate="paginatorright">
    <p-button
      type="button"
      icon="pi pi-cloud"
      styleClass="p-button-text"
    ></p-button>
  </ng-template> -->
  </p-table>
</div>
