<h2>Edit Post</h2>

<div class="row">
  <div class="col-6">
    <form (ngSubmit)="saveChanges()">
      <div class="form-group">
        <label for="title">Title:</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="post.title"
          name="title"
          required
        />
      </div>
      <div class="form-group">
        <label for="body">Body:</label>
        <textarea
          class="form-control"
          id="body"
          [(ngModel)]="post.body"
          name="body"
          rows="5"
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
  </div>
</div>
